.navbar
  .container
    .navbar-brand
      strong Remote Downloader
    ul.nav
      if loggedIn
        li.nav-item
          a.nav-link(
            href=baseUrl('relay/mission/download-all')
            target="_blank"
            title="Download As Package"
          )
            i.fas.fa-download
        li.nav-item
          a.nav-link(
            href='#'
            data-bs-toggle="modal"
            title="Remove all Downloads"
            data-bs-target="#remove-all-modal"
          )
            i.fas.fa-trash